<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <link rel="stylesheet" href="assets/main.css">
  </head>

  <body>
    <header class="site-header" role="banner">

      <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      </div>
    </header>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <ul>
          {% for signature in site.signatures %}
          <li>{{ signature.name }}
            <a href="https://www.github.com/{{signature.github_account}}" target="_blank" rel="noopener">
              @{{signature.github_account}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>

  </body>

</html>
