<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}

        <ul>
          {% for signature in site.signatures %}
          <li>{{ signature.name }}
            <a href="https://www.github.com/{{signature.github_account}}" target="_blank" rel="noopener">
              @{{signature.github_account}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
